<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.booking.mapper.BookingMapper">
 	<select id="bookingList" resultType="com.example.booking.domain.Booking">
 		SELECT
 			`id`
			,`name`
			,`headcount`
			,`day`
			,`date`
			,`phoneNumber`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`booking`
 	</select>
 </mapper>