<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.lesson03.mapper.RealEstateMapper">
 	<select id="selectRealEstateById" parameterType="int" resultType="com.example.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
 	</select>
 	
 	<select id="selectRealEstateByRentPrice" parameterType="int" resultType="com.example.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			<![CDATA[
			`rentPrice` < #{price}
			]]>
 	</select>
 	
 	<select id="selectRealEstateByAreaAndPrice" parameterType="map" resultType="com.example.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE
			<![CDATA[
			`price` < #{price}
			AND `area` >= #{area}
			AND `type` = '매매'
			]]>
 	</select>
 	
 	<insert id="insertRealEstate" parameterType="com.example.lesson03.domain.RealEstate">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{realtorId}
 			,#{address}
 			,#{area}
 			,#{type}
 			,#{price}
 			,#{rentPrice}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<insert id="insertRealEstateAsField" parameterType="map">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{realtorId}
 			,#{address}
 			,#{area}
 			,#{type}
 			,#{price}
 			,#{rentPrice}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<update id="updateRealEstateByIdPriceType" parameterType="map">
 		UPDATE `real_estate` 
 		SET
 			`price` = #{price}
 			, `type` = #{type}
 			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 	</update>
 	
 	<delete id="deleteRealEstateById" parameterType="int">
 		DELETE
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper> 
 
