<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>방금 가입한 공인중개사</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>공인중개사 정보</h1>
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<!-- ${} = <%= 이런 느낌이라고 생각하면 됨. %> -->
				<td th:text="${realtor.id}">임시 ID</td>
			</tr>
			<tr>
				<th>상호명</th>
				<td th:text="${realtor.office}">임시 상호명</td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td th:text="${realtor.phoneNumber}">임시 전화번호</td>
			</tr>
			<tr>
				<th>주소</th>
				<td th:text="${realtor.address}">임시 꿈의 직종</td>
			</tr>
			<tr>
				<th>등급</th>
				<td th:text="${realtor.grade}">임시 등급</td>
			</tr>
			<tr>
				<th>가입일</th>
				<td th:text="${realtor.createdAt}">임시 가입일</td>
			</tr>
			<tr>
				<th>수정일</th>
				<td th:text="${realtor.updatedAt}">임시 수정일</td>
			</tr>
		</table>
	</div>
</body>
</html>