<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>날씨 정보</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/weather_history/style.css">
</head>
<body>
	<div id="wrap">
		<div class="contents d-flex">
			<!-- 메뉴 영역 -->
			<nav class="col-2">
				<!-- 상단 로고 -->
				<div class="logo d-flex justify-content-center mt-3">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Emblem_of_the_Government_of_the_Republic_of_Korea.svg/800px-Emblem_of_the_Government_of_the_Republic_of_Korea.svg.png" width="25">
					<span class="text-white font-weight-bold ml-2">기상청</span>
				</div>

				<!-- 메뉴 -->
				<!-- flex-column: 세로 메뉴 -->
				<ul class="nav flex-column mt-4">
					<li class="nav-item">
						<a href="/weather-history/weather-list-view" class="nav-link menu-font">날씨</a>
					</li>
					<li class="nav-item">
						<a href="/weather-history/add-weather-view" class="nav-link menu-font">날씨입력</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link menu-font">테마날씨</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link menu-font">관측 기후</a>
					</li>
				</ul>
			</nav>

			<!-- 날씨 히스토리 -->
			<section class="weather-history col-10 mt-3 ml-5">
				<h3>과거 날씨</h3>
				
				<table class="table text-center">
					<thead>
						<tr>
							<th>날짜</th>
							<th>날씨</th>
							<th>기온</th>
							<th>강수량</th>
							<th>미세먼지</th>
							<th>풍속</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="weather : ${weatherHistory}">
							<td th:text="${#temporals.format(weather.date, 'yyyy년 M월 d일')}"></td>
							<td th:switch="${weather.weather}">
								<img th:case="'rainy'" src="/img/rainy.jpg">
								<img th:case="'cloudy'" src="/img/cloudy.jpg">
								<img th:case="'partlyCloudy'" src="/img/partlyCloudy.jpg">
								<img th:case="'sunny'" src="/img/sunny.jpg">
								<img th:case="*" th:text="${weather.weather}">
								
							</td>
							<td th:text="${weather.temperatures} + '°C'"></td>
							<td th:text="${weather.precipitation} + 'mm'"></td>
							<td th:text="${weather.microDust}"></td>
							<td th:text="${weather.windSpeed} + 'km/h'"></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
		<footer class="d-flex align-items-center">
			<div class="footer-logo ml-4">
				<img class="foot-logo-image" src="https://www.weather.go.kr/w/resources/image/foot_logo.png" width="120">
			</div>
			<div class="copyright ml-4">
				<small class="text-secondary"> 
					(07062) 서울시 동작구 여의대방로16길 61 <br>
					Copyright@20XX KMA. All Rights RESERVED.
				</small>
			</div>
		</footer>
	</div>
</body>
</html>
</body>
</html>