<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>예약 목록</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/booking/style.css">
</head>
<body>
	<div id="wrap" class="container">
	    <header class="d-flex justify-content-center align-items-center">
	        <div class="display-4">통나무 펜션</div>
	    </header>
	    <nav>
	        <ul class="nav nav-fill">
	            <li class="nav-item"><a href="#" class="nav-link text-white font-weight-bold" th:text="'팬션소개'"></a></li>
	            <li class="nav-item"><a href="#" class="nav-link text-white font-weight-bold" th:text="'객실보기'"></a></li>
	            <li class="nav-item"><a href="/booking/make-booking-view" class="nav-link text-white font-weight-bold" th:text="'예약하기'"></a></li>
	            <li class="nav-item"><a href="/booking/booking-list-view" class="nav-link text-white font-weight-bold" th:text="'예약목록'"></a></li>
	        </ul>
	    </nav>
	    <section class="contents py-4">
	        <h2 class="text-center font-weight-bold m-4" th:text="'예약 목록 보기'"></h2>
	        <table class="table text-center">
	            <thead>
	                <tr>
	                    <th>이름</th>
	                    <th>예약날짜</th>
	                    <th>숙박일수</th>
	                    <th>숙박인원</th>
	                    <th>전화번호</th>
	                    <th>예약상태</th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody>
	            	<tr th:each="book : ${booking}">
	            		<td th:text="${book.name}"></td>
	            		<td th:text="${book.headcount}"></td>
	            		<td th:text="${book.day}"></td>
	            		<td th:text="${book.name}"></td>
	            		<td th:text="${book.name}"></td>
	            		<td th:text="${book.name}"></td>
	            		<td></td>
	            	</tr>
	            </tbody>
			</table>
	    </section>
	    <footer>
	        <small class="text-secondary">
	            제주특별자치도 제주시 애월읍<br>
	            사업자등록번호: 111-22-255222 / 농어촌민박사업자지정 / 대표:김통목<br>
	            Copyright 20XX tongnamu. All right reserved.
	        </small>
	    </footer>
	</div>       
</body>
</html>