@charset "UTF-8";

#wrap {
	width:1200px;
}
nav {
	background-color:cornflowerblue;
}
.contents {
	min-height:500px;
}
footer {
	height:100px;
}

.input-label {
    width:130px;
    text-align: right;
    margin-right:10px;
}

.menu-font {
    color:white;
    font-size:17px;
    font-weight: bold;
}

.menu-font:hover {
    color:white;
    border: 2px solid white;
}